<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>library-system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminBookListServlet</display-name>
    <servlet-name>AdminBookListServlet</servlet-name>
    <servlet-class>com.library.web.AdminBookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBookListServlet</servlet-name>
    <url-pattern>/adminBookList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddBookUIServlet</display-name>
    <servlet-name>AdminAddBookUIServlet</servlet-name>
    <servlet-class>com.library.web.AdminAddBookUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBookUIServlet</servlet-name>
    <url-pattern>/adminAddBookUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddBookServlet</display-name>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <servlet-class>com.library.web.AdminAddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <url-pattern>/adminAddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelBookServlet</display-name>
    <servlet-name>AdminDelBookServlet</servlet-name>
    <servlet-class>com.library.web.AdminDelBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelBookServlet</servlet-name>
    <url-pattern>/adminDelBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductUIServlet</display-name>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <servlet-class>com.itheima.web.AdminUpdateProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <url-pattern>/adminUpdateProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductServlet</display-name>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <servlet-class>com.itheima.web.AdminUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <url-pattern>/adminUpdateProduct</url-pattern>
  </servlet-mapping>
</web-app>